
<div style="background: linear-gradient(90deg, #22c55e, #0ea5e9, #a78bfa);
            color: white; padding: 30px 26px; border-radius: 18px;
            box-shadow: 0 10px 24px rgba(0,0,0,0.12);">
  <h1 style="margin: 0; font-size: 2.35rem;">üêº Pandas Foundations for Machine Learning</h1>
  <p style="margin-top: 10px; font-size: 1.15rem;">
    A explanation-first notebook with hands-on Pandas commands and ML-ready examples.
  </p>
  <p style="opacity: 0.9; margin-bottom: 0;">
    This pairs naturally with <b>Python + NumPy Foundations</b> and prepares you for scikit-learn workflows.
  </p>
</div>


## üåà How to use this notebook

- Run cells in order.
- Each command is followed by a short **‚ÄúWhy this output?‚Äù** explanation.
- Try the **üß© Practice** tasks.
- Keep this notebook as your quick reference during the course.

---

<div style="background:#ecfeff; border-left: 6px solid #06b6d4; padding: 14px 16px; border-radius: 10px;">
<b>Goal:</b> Make you comfortable with Pandas operations that appear in real ML projects:  
loading data, cleaning, transforming, summarizing, and handing clean inputs to models.
</div>


<div style="background:#111827; color:white; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">üß™ 0) Quick environment sanity check</h2>
</div>

In [15]:
import sys
import numpy as np
import pandas as pd

print("Python:", sys.version.split()[0])
print("NumPy:", np.__version__)
print("Pandas:", pd.__version__)

Python: 3.11.7
NumPy: 1.26.4
Pandas: 2.1.1


**Why this output?**  
We verify versions so your results are reproducible across machines and classrooms.


<div style="background: linear-gradient(90deg, #f97316, #facc15);
            color: #111827; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">1) How Pandas and NumPy work together</h2>
</div>


Pandas is built on top of NumPy.

- **NumPy** gives fast arrays and math.  
- **Pandas** adds labeled data structures (rows/columns), missing-value handling,
  and high-level data manipulation.

In ML, you often:
1. use Pandas for cleaning and feature creation, then  
2. convert to NumPy for model training (or let scikit-learn handle the conversion).

In [16]:
import numpy as np
import pandas as pd

arr = np.array([[1, 2], [3, 4]])
df_from_np = pd.DataFrame(arr, columns=["feature_1", "feature_2"])

print("NumPy array:\n", arr)
print("\nDataFrame from NumPy:\n", df_from_np)

NumPy array:
 [[1 2]
 [3 4]]

DataFrame from NumPy:
    feature_1  feature_2
0          1          2
1          3          4


**Why this output?**  
`DataFrame` wraps the array with column labels, making downstream analysis clearer.

In [17]:
back_to_np = df_from_np.to_numpy()
print("Back to NumPy:", back_to_np, type(back_to_np))

Back to NumPy: [[1 2]
 [3 4]] <class 'numpy.ndarray'>


**Why this output?**  
`.to_numpy()` extracts the underlying NumPy array used for many ML computations.


<div style="background: linear-gradient(90deg, #8b5cf6, #ec4899);
            color:white; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">2) Core structures: Series and DataFrame</h2>
</div>


### 2.1 Series
A **Series** is a 1D labeled array ‚Äî think of a single feature/column.

In [18]:
s = pd.Series([10, 20, 30], name="age")
print(s)
print("\nValues:", s.to_list())
print("Index:", s.index.to_list())

0    10
1    20
2    30
Name: age, dtype: int64

Values: [10, 20, 30]
Index: [0, 1, 2]


**Why this output?**  
Pandas stores both **values** and an **index**. The `name` helps readability in analysis and reports.


### 2.2 DataFrame
A **DataFrame** is a 2D labeled table ‚Äî the most common structure for ML datasets.

In [19]:
df = pd.DataFrame({
    "age": [22, 25, 29, 31],
    "salary": [35000, 42000, 52000, 61000],
    "department": ["A", "B", "A", "C"]
})
print(df)

   age  salary department
0   22   35000          A
1   25   42000          B
2   29   52000          A
3   31   61000          C


**Why this output?**  
Each key becomes a column. Pandas aligns data by index under the hood.


<div style="background:#f0fdf4; border-left: 6px solid #22c55e; padding: 14px 16px; border-radius: 10px;">
  <h3 style="margin-top:0;">2.3 Inspecting your data</h3>
</div>

In [20]:
print("Head:")
print(df.head(2))

print("\nInfo:")
df.info()

print("\nDescribe numeric:")
print(df.describe)

Head:
   age  salary department
0   22   35000          A
1   25   42000          B

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         4 non-null      int64
 1   salary      4 non-null      int64
 2   department  4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

Describe numeric:
<bound method NDFrame.describe of    age  salary department
0   22   35000          A
1   25   42000          B
2   29   52000          A
3   31   61000          C>


**Why this output?**  
- `.head()` previews rows.  
- `.info()` shows types and missing counts.  
- `.describe()` gives summary stats useful for spotting scale issues and outliers.


<div style="background: linear-gradient(90deg, #0ea5e9, #22c55e);
            color:white; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">3) Loading data (CSV example)</h2>
</div>


In real projects, most tabular data starts as a file or database extract.
Below we create a CSV **in-memory** for practice.

In [21]:
from io import StringIO
csv_text = StringIO(
"""age,salary,department
22,35000,A
25,42000,B
29,52000,A
31,61000,C
"""
)
df_csv = pd.read_csv(csv_text)
print(df_csv)

   age  salary department
0   22   35000          A
1   25   42000          B
2   29   52000          A
3   31   61000          C


**Why this output?**  
`read_csv` parses comma-separated text into a DataFrame.
This is the same function you will use with real files.


<div style="background: linear-gradient(90deg, #0ea5e9, #22c55e);
            color:white; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">3.1) Loading data from a real CSV file </h2>
</div>

In [22]:
df_real = pd.read_csv("employee_ml_practice.csv")
df_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   employee_id        120 non-null    int64
 1   age                120 non-null    int64
 2   salary             112 non-null    float64
 3   department         115 non-null    object
 4   join_date          120 non-null    object
 5   performance_score  120 non-null    int64
 6   will_buy           120 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 6.7+ KB


<div style="background: linear-gradient(90deg, #6366f1, #0ea5e9);
            color:white; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">4) Selecting data (the most used skill)</h2>
</div>


### 4.1 Column selection

In [23]:
print(df["age"])
print("\nMultiple columns:")
print(df[["age", "salary"]])

0    22
1    25
2    29
3    31
Name: age, dtype: int64

Multiple columns:
   age  salary
0   22   35000
1   25   42000
2   29   52000
3   31   61000


**Why this output?**  
Single brackets return a **Series**, double brackets return a **DataFrame**.


### 4.2 Row selection with loc and iloc
- `loc` is label-based (uses index labels)  
- `iloc` is position-based

In [24]:
print("loc row 0:")
print(df.loc[0])

print("\niloc rows 1 to 2:")
print(df.iloc[1:3])

loc row 0:
age              22
salary        35000
department        A
Name: 0, dtype: object

iloc rows 1 to 2:
   age  salary department
1   25   42000          B
2   29   52000          A


**Why this output?**  
Default index labels start at 0.
Slicing with `iloc` follows Python's `[start:stop)` rule.


### 4.3 Boolean filtering

In [25]:
high_salary = df[df["salary"] > 45000]
print(high_salary)

   age  salary department
2   29   52000          A
3   31   61000          C


**Why this output?**  
The condition creates a Boolean mask. Pandas filters rows where the mask is True.


<div style="background: linear-gradient(90deg, #facc15, #f97316);
            color:#111827; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">5) Creating and transforming columns</h2>
</div>


### 5.1 Vectorized operations (preferred)

In [26]:
df["salary_k"] = df["salary"] / 1000
print(df)

   age  salary department  salary_k
0   22   35000          A      35.0
1   25   42000          B      42.0
2   29   52000          A      52.0
3   31   61000          C      61.0


**Why this output?**  
Pandas performs arithmetic column-wise efficiently (backed by NumPy).


### 5.2 Using apply (use carefully)

In [27]:
df["seniority"] = df["age"].apply(lambda x: "junior" if x < 28 else "senior")
print(df[["age", "seniority"]])

   age seniority
0   22    junior
1   25    junior
2   29    senior
3   31    senior


**Why this output?**  
`.apply()` runs a Python function per element. It‚Äôs flexible but slower than vectorized ops.


<div style="background: linear-gradient(90deg, #ec4899, #8b5cf6);
            color:white; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">6) Handling missing values</h2>
</div>


Missing values are common in real-world ML datasets.
Let‚Äôs create a small example with `NaN` and `None`.

In [28]:
df_missing = df.copy()
df_missing.loc[1, "salary"] = np.nan
df_missing.loc[3, "department"] = None
print(df_missing)

   age   salary department  salary_k seniority
0   22  35000.0          A      35.0    junior
1   25      NaN          B      42.0    junior
2   29  52000.0          A      52.0    senior
3   31  61000.0       None      61.0    senior


**Why this output?**  
Pandas uses `NaN`/`None` to represent missing data depending on column type.

In [29]:
print("Missing counts:")
print(df_missing.isna().sum())

Missing counts:
age           0
salary        1
department    1
salary_k      0
seniority     0
dtype: int64


**Why this output?**  
`.isna()` returns a Boolean DataFrame. Summing counts True values per column.


### 6.1 Drop vs impute

In [30]:
print("Drop rows with any missing values:")
print(df_missing.dropna())

Drop rows with any missing values:
   age   salary department  salary_k seniority
0   22  35000.0          A      35.0    junior
2   29  52000.0          A      52.0    senior


**Why this output?**  
`.dropna()` removes rows containing missing values.

In [31]:
df_imputed = df_missing.copy()
df_imputed["salary"] = df_imputed["salary"].fillna(df_imputed["salary"].median())
df_imputed["department"] = df_imputed["department"].fillna("Unknown")

print(df_imputed)

   age   salary department  salary_k seniority
0   22  35000.0          A      35.0    junior
1   25  52000.0          B      42.0    junior
2   29  52000.0          A      52.0    senior
3   31  61000.0    Unknown      61.0    senior


**Why this output?**  
- We impute numeric salary using the median (robust to outliers).  
- We fill missing categories with a placeholder label.


<div style="background:#fff7ed; border-left: 6px solid #f97316; padding: 14px 16px; border-radius: 10px;">
  <h3 style="margin-top:0;">6.2 Data types and conversion</h3>
</div>

In [32]:
print(df_imputed.dtypes)

age             int64
salary        float64
department     object
salary_k      float64
seniority      object
dtype: object


**Why this output?**  
Data types influence memory use and help you choose correct preprocessing steps.


<div style="background: linear-gradient(90deg, #0ea5e9, #6366f1);
            color:white; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">7) GroupBy: patterns for EDA - Exploratory Data Analysis</h2>
</div>

In [33]:
dept_summary = df_imputed.groupby("department")["salary"].mean()
print(dept_summary)

department
A          43500.0
B          52000.0
Unknown    61000.0
Name: salary, dtype: float64


**Why this output?**  
`groupby` splits data by category, applies an aggregation (mean),
and combines results.


### 7.1 Sorting

In [34]:
print(df_imputed.sort_values(by="salary", ascending=False))

   age   salary department  salary_k seniority
3   31  61000.0    Unknown      61.0    senior
1   25  52000.0          B      42.0    junior
2   29  52000.0          A      52.0    senior
0   22  35000.0          A      35.0    junior


**Why this output?**  
Sorting highlights extremes and makes quick comparisons easier.


<div style="background: linear-gradient(90deg, #22c55e, #84cc16);
            color:#111827; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">8) Combining data: merge and join</h2>
</div>

In [35]:
dept_map = pd.DataFrame({
    "department": ["A", "B", "C"],
    "dept_name": ["Analytics", "Business", "Core Eng"]
})

merged = df_imputed.merge(dept_map, on="department", how="left")
print(merged)

   age   salary department  salary_k seniority  dept_name
0   22  35000.0          A      35.0    junior  Analytics
1   25  52000.0          B      42.0    junior   Business
2   29  52000.0          A      52.0    senior  Analytics
3   31  61000.0    Unknown      61.0    senior        NaN


**Why this output?**  
`merge` performs SQL-like joins.  
`how="left"` keeps all rows from the left DataFrame.


<div style="background: linear-gradient(90deg, #f97316, #ec4899);
            color:white; padding: 14px 16px; border-radius: 12px;">
  <h2 style="margin:0;">9) Date/time features (useful for time-based ML)</h2>
</div>

In [36]:
df_time = pd.DataFrame({
    "date": ["2025-01-01", "2025-01-05", "2025-01-10"],
    "sales": [120, 150, 130]
})

df_time["date"] = pd.to_datetime(df_time["date"])
df_time["day_of_week"] = df_time["date"].dt.day_name()
df_time["month"] = df_time["date"].dt.month

print(df_time)

        date  sales day_of_week  month
0 2025-01-01    120   Wednesday      1
1 2025-01-05    150      Sunday      1
2 2025-01-10    130      Friday      1


**Why this output?**  
`to_datetime` converts strings to datetime objects.  
The `.dt` accessor extracts time-based features that may improve ML models.


<div style="background:#f5f3ff; border-left: 6px solid #8b5cf6; padding: 14px 16px; border-radius: 10px;">
  <h3 style="margin-top:0;">9.1 Reshaping with pivot</h3>
</div>

In [37]:
df_long = pd.DataFrame({
    "id": [1, 1, 2, 2],
    "metric": ["clicks", "views", "clicks", "views"],
    "value": [10, 200, 7, 150]
})

df_wide = df_long.pivot(index="id", columns="metric", values="value")
print(df_long)
print("\nPivoted wide form:\n", df_wide)

   id  metric  value
0   1  clicks     10
1   1   views    200
2   2  clicks      7
3   2   views    150

Pivoted wide form:
 metric  clicks  views
id
1           10    200
2            7    150


**Why this output?**  
Many ML models expect a wide feature table.
`pivot` converts long-format metrics into separate feature columns.


<div style="background:#ecfeff; border-left: 6px solid #06b6d4; padding: 14px 16px; border-radius: 10px;">
  <h3 style="margin-top:0;">10) Performance habits</h3>
  <ul>
    <li>Prefer vectorized operations over <code>apply</code>.</li>
    <li>Use <code>category</code> for repeated strings.</li>
    <li>Check memory usage for large data.</li>
  </ul>
</div>

In [38]:
df_perf = df_imputed.copy()
df_perf["department"] = df_perf["department"].astype("category")

print(df_perf.dtypes)
print("\nMemory usage (bytes):")
print(df_perf.memory_usage(deep=True))

age              int64
salary         float64
department    category
salary_k       float64
seniority       object
dtype: object

Memory usage (bytes):
Index         132
age            32
salary         32
department    292
salary_k       32
seniority     252
dtype: int64


**Why this output?**  
`category` stores repeated labels efficiently ‚Äî helpful for large datasets.


<div style="background:#f0fdf4; border-left: 6px solid #22c55e; padding: 14px 16px; border-radius: 10px;">
  <h3 style="margin-top:0;">üß© Practice: essential Pandas operations</h3>
  <ol>
    <li>Create a DataFrame with 3 numeric columns and 1 categorical column.</li>
    <li>Introduce missing values in one numeric column.</li>
    <li>Impute with median and create a new scaled column.</li>
    <li>Group by the category and compute mean of each numeric column.</li>
  </ol>
</div>


<div style="background: linear-gradient(90deg, #111827, #334155);
            color:white; padding: 16px 18px; border-radius: 12px;">
  <h2 style="margin:0;">11) Pandas in real ML workflows</h2>
</div>


Pandas is used heavily before modeling:

- **Understand**: `.info()`, `.describe()`, value counts  
- **Clean**: missing values, invalid categories  
- **Engineer**: new features from raw columns  
- **Assemble**: merge multiple sources  
- **Prepare**: separate features and target

Below are short ML-ready examples linking Pandas ‚Üí NumPy ‚Üí scikit-learn.


### 11.1 Preparing features (X) and target (y)

In [39]:
df_ml = pd.DataFrame({
    "age": [22, 25, 29, 31, 28, 35],
    "salary": [35000, 42000, 52000, 61000, 48000, 72000],
    "department": ["A", "B", "A", "C", "B", "C"],
    "will_buy": [0, 0, 1, 1, 0, 1]
})

X = df_ml[["age", "salary", "department"]]
y = df_ml["will_buy"]

print("X shape:", X.shape)
print("y shape:", y.shape)
print("\nX preview:\n", X.head())
print("\ny preview:\n", y.head())

X shape: (6, 3)
y shape: (6,)

X preview:
    age  salary department
0   22   35000          A
1   25   42000          B
2   29   52000          A
3   31   61000          C
4   28   48000          B

y preview:
 0    0
1    0
2    1
3    1
4    0
Name: will_buy, dtype: int64


**Why this output?**  
We isolate input features and target labels ‚Äî the standard interface used by scikit-learn.


### 11.2 Converting to NumPy (when needed)

In [40]:
X_np = X.to_numpy()
y_np = y.to_numpy()

print("X_np type:", type(X_np), "shape:", X_np.shape)
print("y_np type:", type(y_np), "shape:", y_np.shape)

X_np type: <class 'numpy.ndarray'> shape: (6, 3)
y_np type: <class 'numpy.ndarray'> shape: (6,)


**Why this output?**  
Many ML libraries ultimately operate on arrays.
Pandas keeps labels; NumPy keeps pure numeric speed.


### 11.3 Pandas + scikit-learn pipeline (leakage-safe pattern)

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42, stratify=y
)

numeric_features = ["age", "salary"]
categorical_features = ["department"]

preprocess = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numeric_features),
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features)
    ]
)

clf = Pipeline(steps=[
    ("preprocess", preprocess),
    ("model", LogisticRegression(max_iter=200))
])

clf.fit(X_train, y_train)
pred = clf.predict(X_test)

print("Accuracy:", accuracy_score(y_test, pred))

Accuracy: 0.5


**Why this output?**  
- `ColumnTransformer` applies different preprocessing for numeric vs categorical columns.  
- `Pipeline` ensures training-only fitting of transformers, reducing data leakage risk.  
- Pandas column names keep the code readable and audit-friendly.


<div style="background: linear-gradient(90deg, #111827, #334155);
            color:white; padding: 16px 18px; border-radius: 12px;">
  <h2 style="margin:0;">11) Pandas in real CSV File </h2>
</div>

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv("employee_ml_practice.csv")

df
df.head()
df.tail()
df.sample(5)
df.shape
df.columns
df.dtypes
df.info()

df.select_dtypes(include="number").describe()
df.describe(include="object")

df["age"]
df[["age", "salary", "department"]]

df.loc[0]
df.loc[0:5, ["age", "salary", "department"]]

df.iloc[0]
df.iloc[1:6]
df.iloc[1:6, 0:4]

df[df["salary"] > 80000]
df[df["age"] < 30]
df[(df["department"] == "Engineering") & (df["salary"] > 90000)]
df[(df["department"].isin(["Analytics", "Engineering"])) & (df["performance_score"] >= 4)]

df["salary_k"] = df["salary"] / 1000
df["age_squared"] = df["age"] ** 2
df.head()

df["seniority"] = df["age"].apply(lambda x: "junior" if x < 28 else "senior")
df[["age", "seniority"]].head()

df.isna()
df.isna().sum()
df.dropna()

df_imp = df.copy()
df_imp["salary"] = df_imp["salary"].fillna(df_imp["salary"].median())
df_imp["department"] = df_imp["department"].fillna("Unknown")
df_imp.isna().sum()

df_imp.sort_values(by="salary", ascending=False).head(10)
df_imp.sort_values(by=["department", "salary"], ascending=[True, False]).head(10)

df_imp.groupby("department")["salary"].mean()
df_imp.groupby("department")["salary"].median()
df_imp.groupby("department")[["age", "salary", "performance_score"]].mean()
df_imp.groupby("department")["will_buy"].mean().sort_values(ascending=False)

df_imp["department"].value_counts()
df_imp["performance_score"].value_counts()
df_imp["seniority"].value_counts()

df_imp["join_date"] = pd.to_datetime(df_imp["join_date"])
df_imp["join_year"] = df_imp["join_date"].dt.year
df_imp["join_month"] = df_imp["join_date"].dt.month
df_imp["join_day_name"] = df_imp["join_date"].dt.day_name()
df_imp[["join_date", "join_year", "join_month", "join_day_name"]].head()

df_imp["department"] = df_imp["department"].astype("category")
df_imp.dtypes
df_imp.memory_usage(deep=True)

X_np = df_imp[["age", "salary", "performance_score"]].to_numpy()
y_np = df_imp["will_buy"].to_numpy()
X_np.shape, y_np.shape

X = df_imp[["age", "salary", "department", "performance_score", "join_year", "join_month"]]
y = df_imp["will_buy"]
X.head()
y.head()